.game-page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.game {
  display: flex;
}

.game:fullscreen {
  justify-content: center;
}

.game__wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 40px;
}

.game__exit-wrapper {
  display: flex;
  align-items: end;
  width: 155px;
}

.game:fullscreen .game__exit-wrapper {
  display: none;
}
