.game-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.game {
  display: flex;
}

.game__wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 40px;
}

.game__exit-wrapper {
  display: flex;
  align-items: end;
}
