.forum-topic__description {
  font-size: 24px;
  margin-bottom: 30px;
}

.forum-topic__feed {
  border: 1px solid var(--dark);
  margin-bottom: 30px;
}

.forum-topic .textarea {
  width: 100%;
  margin-bottom: 10px;
}
