.game-end-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.game-end-wrapper__title {
  color: var(--dark);
  font-size: 40px;
  margin: 0;
}

.game-end-wrapper__text {
  color: var(--dark);
  font-size: 24px;
  margin: 11px 0 0 0;
}

.game-end-wrapper button {
  margin-top: 50px;
  background-color: var(--dark);
  color: var(--light);
  width: 285px;
}
