.game-start-screen__select {
  display: block;
  margin-bottom: 20px;
}

.game-start-screen__button {
  width: 100%;
  background-color: var(--dark);
  color: var(--light);
  font-size: 22px;
  padding-top: 2px;
}

.game-start-screen .ant-btn.game-start-screen__button:hover {
  background-color: var(--dark);
  color: var(--light);
  opacity: 0.8;
}
