.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  background-color: var(--base-dark);
  min-width: 780px;
  max-height: 539px;
  margin-top: 110px;
}
