.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 442px;
  max-height: 539px;
  border-radius: 8px;
  margin-top: 27px;
}

.profile-form__input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.profile-form__error-container {
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile-form__error {
  font-size: 12px;
  color: var(--red);
  padding-right: 5px;
  text-align: end;
}

.profile-form__label {
  font-size: 14px;
  color: var(--light);
  padding-left: 5px;
  border-bottom: 1px solid var(--light);
  display: flex;
  justify-content: space-between;
}

.profile-form__input {
  font-size: 14px;
  color: var(--light);
  text-align: end;
  background: transparent;
  border: none;
  min-width: 80%;
  padding-right: 5px;
}

.profile-form__input:focus {
  outline: none;
}

.profile-form button {
  width: 280px;
  margin-top: 54px;
  margin-bottom: 20px;
}
